---
import profile1 from "../../../assets/main/section6/profile1.png";
import profile2 from "../../../assets/main/section6/profile2.png";
import profile3 from "../../../assets/main/section6/profile3.png";
import Card from "./Card.astro";
---

<section class="section">
    <h1 class="section__title">Nuestros clientes opinan...</h1>
    <div class="section__card-container">
        <Card
            profile={profile1}
            name="Antonio S."
            opinion="Muy buen servicio, profesionales, rápidos y listos ;)"
        />
        <Card
            profile={profile2}
            name="Jordi C."
            opinion="Diseño super atractivo y espectacular seguimiento."
        />
        <Card
            profile={profile3}
            name="Albert E."
            opinion="Buen servicio! Recomendado para landin pages."
        />
    </div>
</section>

<style lang="scss">
    .section {
        margin-top: 150px;
        width: 100vw;
        display: flex;
        align-items: center;
        flex-direction: column;

        &__card-container{
            margin-top: 100px;
            display: flex;
            width: 100vw;
            justify-content: space-around;
        }
    }

    @media only screen and (max-width: 480px){
        .section{

            &__title{
                text-align: center;
            }

            &__card-container{
                flex-direction: column;
                align-items: center;
                gap: 30px;
            }
        }
    }
</style>