---
import Logo from "../../../assets/Logo.png";
---

<header class="header">
    <img src={Logo.src} alt="PymeWebTeam" class="header__logo" transition:name="logo">
    <h2 class="header__title">¿Cómo te podemos ayudar?</h2>
</header>

<style lang="scss">
    .header{
        display: flex;
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 30px;

        &__logo{
            width: 82px;
        }

        &__title{
            margin-top: 20px;
            font-size: 16px;
        }
    }

    @media only screen and (min-width: 1900px){
        .header{
            top: 300px;
        }
    }
</style>