---
import Layout from "../layouts/Layout.astro";
import Loader from "../components/Loader/Loader.astro";
import Header from "../components/Header/Header.astro";
import Main from "../components/Main/Main.astro";
import Footer from "../components/Footer/Footer.astro";
import IABtn from "../components/IA/IABtn.astro";
---

<Layout
	title="PymeWebTeam | Impulsamos tu negocio, creando juntos tu presencia digital."
>
	<div class="preloader">
		<Loader />
	</div>
	<div class="b">
		<Header />
		<Main />
		<Footer />
	</div>
</Layout>

<style lang="scss">
	.b {
		position: absolute;
		z-index: 1;
		display: none;
	}

	.preloader {
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>

<script is:inline>
	const preloader = document.querySelector(".preloader");
	const body = document.querySelector(".b");

	window.addEventListener("load", () => {
		preloader.style.display = "none";
		body.style.display = "block";
	});
</script>

<script is:inline>
	document.querySelectorAll(".gallery").forEach((gallery) => {
		lightGallery(gallery, {
			download: false,
		});
	});
</script>
