---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header/Header.astro";
import Main from "../components/Main/Main.astro";
import Footer from "../components/Footer/Footer.astro";
import IABtn from "../components/IA/IABtn.astro";
---

<Layout title="PymeWebTeam">
	<Header></Header>
	<Main></Main>
	<Footer></Footer> 
	<IABtn></IABtn>
	<!-- <script is:inline>
		const $gallery = document.querySelector(".picture");
		lightGallery($gallery, {
			counter: false,
			download: false
		});
		const $rightGallery = document.querySelector(".section__gallery__marquee--right");
		lightGallery($rightGallery, {
			counter: false,
			download: false
		});
	</script> -->
</Layout>

<script is:inline>
	document.addEventListener('astro:after-swap', () =>{
		window.sr = ScrollReveal();
	
	const workContainerArr = document.querySelector('.section__work-container').childNodes;
	const container1 = workContainerArr[1].childNodes[1];
	const container2 = workContainerArr[1].childNodes[5];
	const container3 = workContainerArr[1].childNodes[9];
	const arrow1 = workContainerArr[1].childNodes[3];
	const arrow2 = workContainerArr[1].childNodes[7];
	const arrow3 = workContainerArr[3].childNodes[5];
	const container4 = workContainerArr[5].childNodes[1];
	const container5 = workContainerArr[5].childNodes[5];
	const container6 = workContainerArr[5].childNodes[9];
	const arrow4 = workContainerArr[5].childNodes[3];
	const arrow5 = workContainerArr[5].childNodes[7];
	console.log(workContainerArr)
	sr.reveal(container1, {
		origin: 'left',
		distance: '15px',
		duration: 500
	})
	sr.reveal(arrow1, {
		origin: 'left',
		distance: '100px',
		duration: 600
	})
	sr.reveal(container2, {
		origin: 'left',
		distance: '100px',
		duration: 700
	})
	sr.reveal(arrow2, {
		origin: 'left',
		distance: '100px',
		duration: 800
	})
	sr.reveal(container3, {
		origin: 'left',
		distance: '100px',
		duration: 900
	})
	sr.reveal(arrow3, {
		origin: 'left',
		distance: '30px',
		duration: 1000
	})
	sr.reveal(container4, {
		origin: 'right',
		distance: '100px',
		duration: 1100
	})
	sr.reveal(arrow4, {
		origin: 'left',
		distance: '100px',
		duration: 1200
	})
	sr.reveal(container5, {
		origin: 'right',
		distance: '100px',
		duration: 1300
	})
	sr.reveal(arrow5, {
		origin: 'left',
		distance: '100px',
		duration: 1400
	})
	sr.reveal(container6, {
		origin: 'right',
		distance: '100px',
		duration: 1500
	})
	
	if (window.screen.availWidth <= 480){
		sr.reveal(container1, {
		origin: 'top',
		distance: '15px',
		duration: 500
	})
	sr.reveal(arrow1, {
		origin: 'left',
		distance: '100px',
		duration: 600
	})
	sr.reveal(container2, {
		origin: 'top',
		distance: '100px',
		duration: 700
	})
	sr.reveal(arrow2, {
		origin: 'left',
		distance: '100px',
		duration: 800
	})
	sr.reveal(container3, {
		origin: 'top',
		distance: '100px',
		duration: 900
	})
	sr.reveal(arrow3, {
		origin: 'left',
		distance: '30px',
		duration: 1000
	})
	sr.reveal(container4, {
		origin: 'top',
		distance: '100px',
		duration: 1100
	})
	sr.reveal(arrow4, {
		origin: 'left',
		distance: '100px',
		duration: 1200
	})
	sr.reveal(container5, {
		origin: 'top',
		distance: '100px',
		duration: 1300
	})
	sr.reveal(arrow5, {
		origin: 'left',
		distance: '100px',
		duration: 1400
	})
	sr.reveal(container6, {
		origin: 'top',
		distance: '100px',
		duration: 1500
	})
	
	}
	})
	document.addEventListener('DOMContentLoaded', () =>{
		window.sr = ScrollReveal();
	
	const workContainerArr = document.querySelector('.section__work-container').childNodes;
	const container1 = workContainerArr[1].childNodes[1];
	const container2 = workContainerArr[1].childNodes[5];
	const container3 = workContainerArr[1].childNodes[9];
	const arrow1 = workContainerArr[1].childNodes[3];
	const arrow2 = workContainerArr[1].childNodes[7];
	const arrow3 = workContainerArr[3].childNodes[5];
	const container4 = workContainerArr[5].childNodes[1];
	const container5 = workContainerArr[5].childNodes[5];
	const container6 = workContainerArr[5].childNodes[9];
	const arrow4 = workContainerArr[5].childNodes[3];
	const arrow5 = workContainerArr[5].childNodes[7];
	console.log(workContainerArr)
	sr.reveal(container1, {
		origin: 'left',
		distance: '15px',
		duration: 500
	})
	sr.reveal(arrow1, {
		origin: 'left',
		distance: '100px',
		duration: 600
	})
	sr.reveal(container2, {
		origin: 'left',
		distance: '100px',
		duration: 700
	})
	sr.reveal(arrow2, {
		origin: 'left',
		distance: '100px',
		duration: 800
	})
	sr.reveal(container3, {
		origin: 'left',
		distance: '100px',
		duration: 900
	})
	sr.reveal(arrow3, {
		origin: 'left',
		distance: '30px',
		duration: 1000
	})
	sr.reveal(container4, {
		origin: 'right',
		distance: '100px',
		duration: 1100
	})
	sr.reveal(arrow4, {
		origin: 'left',
		distance: '100px',
		duration: 1200
	})
	sr.reveal(container5, {
		origin: 'right',
		distance: '100px',
		duration: 1300
	})
	sr.reveal(arrow5, {
		origin: 'left',
		distance: '100px',
		duration: 1400
	})
	sr.reveal(container6, {
		origin: 'right',
		distance: '100px',
		duration: 1500
	})
	
	if (window.screen.availWidth <= 480){
		sr.reveal(container1, {
		origin: 'top',
		distance: '15px',
		duration: 500
	})
	sr.reveal(arrow1, {
		origin: 'left',
		distance: '100px',
		duration: 600
	})
	sr.reveal(container2, {
		origin: 'top',
		distance: '100px',
		duration: 700
	})
	sr.reveal(arrow2, {
		origin: 'left',
		distance: '100px',
		duration: 800
	})
	sr.reveal(container3, {
		origin: 'top',
		distance: '100px',
		duration: 900
	})
	sr.reveal(arrow3, {
		origin: 'left',
		distance: '30px',
		duration: 1000
	})
	sr.reveal(container4, {
		origin: 'top',
		distance: '100px',
		duration: 1100
	})
	sr.reveal(arrow4, {
		origin: 'left',
		distance: '100px',
		duration: 1200
	})
	sr.reveal(container5, {
		origin: 'top',
		distance: '100px',
		duration: 1300
	})
	sr.reveal(arrow5, {
		origin: 'left',
		distance: '100px',
		duration: 1400
	})
	sr.reveal(container6, {
		origin: 'top',
		distance: '100px',
		duration: 1500
	})
	
	}
	})
	</script>